In [1]:
import os
import requests
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
company_table = pd.read_csv(r'/Users/kanimozhivelusamy/Downloads/DAMG 7275/ProjectP3/company_table.csv')
company_year = pd.read_csv(r'/Users/kanimozhivelusamy/Downloads/DAMG 7275/ProjectP3/company_year.csv')

merged_data = pd.merge(company_table, company_year, on='CompanyName')

# Print the merged data
print(merged_data)

    CompanyID                    CompanyName     Description  SizeOfCompany  \
0           6             Enphase Energy Inc          Energy           3150
1          21                       Etsy Inc          Retail           1820
2          56             Unity Software Inc           Other           6360
3          91                Tripadvisor Inc          Travel           3000
4         311               SecureWorks Corp        Security           1700
5         328       Thoughtworks Holding Inc           Other          11001
6         504          Uber Technologies Inc  Transportation          19877
7         530                    TrueCar Inc  Transportation            323
8         540                      Chegg Inc       Education           1920
9         562                     Reddit Inc        Consumer           1710
10        628                   Lemonade Inc         Finance           1455
11        688                    Dropbox Inc           Other           2625
12        690                      Vroom Inc  Transportation            971
13        709                       LYFT Inc  Transportation           3051
14        712                   Buzzfeed Inc           Media           1020
15        721      Opendoor Technologies Inc     Real Estate           1985
16        800                Lucid Group Inc  Transportation           5922
17        829                 Amazon.com Inc          Retail         383000
18        846             Meta Platforms Inc        Consumer          63615
19        953          Micron Technology Inc        Hardware          45600
20       1025  Zoom Video Communications Inc           Other           7367
21       1026                       eBay Inc          Retail          12000
22       1084            PayPal Holdings Inc         Finance          26571
23       1171           Alphabet Inc Class C        Consumer         188000
24       1204                 Microsoft Corp           Other         190000
25       1498                   DoorDash Inc            Food          19583
26       1587              Cisco Systems Inc  Infrastructure          77900
27       2303                    Netflix Inc           Media           9700
28       1086                    Workday Inc              HR          16975
29       1172                    Wayfair Inc          Retail          16530

    TotalEmployee                Location IndustryID RegionID  FoundedIn
0            3500  San Francisco Bay Area       I434    R1993       2006
1            2045           New York City       I395    R1046       2005
2            6625  San Francisco Bay Area       I078    R1993       2004
3            3125                  Boston       I522    R1084       2000
4            2000                 Atlanta       I890    R1428       1999
5           11580                 Chicago       I711    R1974       1993
6           20077  San Francisco Bay Area       I424    R1993       2009
7             425             Los Angeles       I674    R1995       2005
8            2000  San Francisco Bay Area       I804    R1993       2005
9            1800  San Francisco Bay Area       I455    R1993       2005
10           1500           New York City       I835    R1046       2015
11           3125  San Francisco Bay Area       I398    R1993       2007
12           1091           New York City       I688    R1046       2013
13           4123  San Francisco Bay Area       I686    R1993       2012
14           1200           New York City       I243    R1046       2006
15           2545  San Francisco Bay Area       I633    R1993       2014
16           7222  San Francisco Bay Area       I987    R1993       2007
17         392000                 Seattle       I485    R1415       1994
18          73615  San Francisco Bay Area       I875    R1993       2004
19          48000                   Boise       I813    R1926       1978
20           8667  San Francisco Bay Area       I844    R1993       2011
21          12500  San Francisco Bay Area       I546    R1993       1995
22          28571  San Francisco Bay Area       I171    R1993       1998
23         200000  San Francisco Bay Area       I644    R1993       1998
24         200000                 Seattle       I398    R1415       1975
25          20833  San Francisco Bay Area       I317    R1993       2013
26          82000  San Francisco Bay Area       I498    R1993       1984
27          10000  San Francisco Bay Area       I235    R1993       1997
28          17500  San Francisco Bay Area       I958    R1993       2005
29          17400                  Boston       I125    R1084       2002

In [3]:
merged_data.head(100)

,CompanyID,CompanyName,Description,SizeOfCompany,TotalEmployee,Location,IndustryID,RegionID,FoundedIn
0,6,Enphase Energy Inc,Energy,3150,3500,San Francisco Bay Area,I434,R1993,2006
1,21,Etsy Inc,Retail,1820,2045,New York City,I395,R1046,2005
2,56,Unity Software Inc,Other,6360,6625,San Francisco Bay Area,I078,R1993,2004
3,91,Tripadvisor Inc,Travel,3000,3125,Boston,I522,R1084,2000
4,311,SecureWorks Corp,Security,1700,2000,Atlanta,I890,R1428,1999
5,328,Thoughtworks Holding Inc,Other,11001,11580,Chicago,I711,R1974,1993
6,504,Uber Technologies Inc,Transportation,19877,20077,San Francisco Bay Area,I424,R1993,2009
7,530,TrueCar Inc,Transportation,323,425,Los Angeles,I674,R1995,2005
8,540,Chegg Inc,Education,1920,2000,San Francisco Bay Area,I804,R1993,2005
9,562,Reddit Inc,Consumer,1710,1800,San Francisco Bay Area,I455,R1993,2005
10,628,Lemonade Inc,Finance,1455,1500,New York City,I835,R1046,2015
11,688,Dropbox Inc,Other,2625,3125,San Francisco Bay Area,I398,R1993,2007
12,690,Vroom Inc,Transportation,971,1091,New York City,I688,R1046,2013
13,709,LYFT Inc,Transportation,3051,4123,San Francisco Bay Area,I686,R1993,2012
14,712,Buzzfeed Inc,Media,1020,1200,New York City,I243,R1046,2006
15,721,Opendoor Technologies Inc,Real Estate,1985,2545,San Francisco Bay Area,I633,R1993,2014
16,800,Lucid Group Inc,Transportation,5922,7222,San Francisco Bay Area,I987,R1993,2007
17,829,Amazon.com Inc,Retail,383000,392000,Seattle,I485,R1415,1994
18,846,Meta Platforms Inc,Consumer,63615,73615,San Francisco Bay Area,I875,R1993,2004
19,953,Micron Technology Inc,Hardware,45600,48000,Boise,I813,R1926,1978
20,1025,Zoom Video Communications Inc,Other,7367,8667,San Francisco Bay Area,I844,R1993,2011
21,1026,eBay Inc,Retail,12000,12500,San Francisco Bay Area,I546,R1993,1995
22,1084,PayPal Holdings Inc,Finance,26571,28571,San Francisco Bay Area,I171,R1993,1998
23,1171,Alphabet Inc Class C,Consumer,188000,200000,San Francisco Bay Area,I644,R1993,1998
24,1204,Microsoft Corp,Other,190000,200000,Seattle,I398,R1415,1975
25,1498,DoorDash Inc,Food,19583,20833,San Francisco Bay Area,I317,R1993,2013
26,1587,Cisco Systems Inc,Infrastructure,77900,82000,San Francisco Bay Area,I498,R1993,1984
27,2303,Netflix Inc,Media,9700,10000,San Francisco Bay Area,I235,R1993,1997
28,1086,Workday Inc,HR,16975,17500,San Francisco Bay Area,I958,R1993,2005
29,1172,Wayfair Inc,Retail,16530,17400,Boston,I125,R1084,2002

In [4]:
company_region = merged_data.rename(columns={'RegionID': 'RegionID', 'CompanyID': 'CompanyID', 'FoundedIn': 'StartYear'})

print(company_region)

    CompanyID                    CompanyName     Description  SizeOfCompany  \
0           6             Enphase Energy Inc          Energy           3150
1          21                       Etsy Inc          Retail           1820
2          56             Unity Software Inc           Other           6360
3          91                Tripadvisor Inc          Travel           3000
4         311               SecureWorks Corp        Security           1700
5         328       Thoughtworks Holding Inc           Other          11001
6         504          Uber Technologies Inc  Transportation          19877
7         530                    TrueCar Inc  Transportation            323
8         540                      Chegg Inc       Education           1920
9         562                     Reddit Inc        Consumer           1710
10        628                   Lemonade Inc         Finance           1455
11        688                    Dropbox Inc           Other           2625
12        690                      Vroom Inc  Transportation            971
13        709                       LYFT Inc  Transportation           3051
14        712                   Buzzfeed Inc           Media           1020
15        721      Opendoor Technologies Inc     Real Estate           1985
16        800                Lucid Group Inc  Transportation           5922
17        829                 Amazon.com Inc          Retail         383000
18        846             Meta Platforms Inc        Consumer          63615
19        953          Micron Technology Inc        Hardware          45600
20       1025  Zoom Video Communications Inc           Other           7367
21       1026                       eBay Inc          Retail          12000
22       1084            PayPal Holdings Inc         Finance          26571
23       1171           Alphabet Inc Class C        Consumer         188000
24       1204                 Microsoft Corp           Other         190000
25       1498                   DoorDash Inc            Food          19583
26       1587              Cisco Systems Inc  Infrastructure          77900
27       2303                    Netflix Inc           Media           9700
28       1086                    Workday Inc              HR          16975
29       1172                    Wayfair Inc          Retail          16530

    TotalEmployee                Location IndustryID RegionID  StartYear
0            3500  San Francisco Bay Area       I434    R1993       2006
1            2045           New York City       I395    R1046       2005
2            6625  San Francisco Bay Area       I078    R1993       2004
3            3125                  Boston       I522    R1084       2000
4            2000                 Atlanta       I890    R1428       1999
5           11580                 Chicago       I711    R1974       1993
6           20077  San Francisco Bay Area       I424    R1993       2009
7             425             Los Angeles       I674    R1995       2005
8            2000  San Francisco Bay Area       I804    R1993       2005
9            1800  San Francisco Bay Area       I455    R1993       2005
10           1500           New York City       I835    R1046       2015
11           3125  San Francisco Bay Area       I398    R1993       2007
12           1091           New York City       I688    R1046       2013
13           4123  San Francisco Bay Area       I686    R1993       2012
14           1200           New York City       I243    R1046       2006
15           2545  San Francisco Bay Area       I633    R1993       2014
16           7222  San Francisco Bay Area       I987    R1993       2007
17         392000                 Seattle       I485    R1415       1994
18          73615  San Francisco Bay Area       I875    R1993       2004
19          48000                   Boise       I813    R1926       1978
20           8667  San Francisco Bay Area       I844    R1993       2011
21          12500  San Francisco Bay Area       I546    R1993       1995
22          28571  San Francisco Bay Area       I171    R1993       1998
23         200000  San Francisco Bay Area       I644    R1993       1998
24         200000                 Seattle       I398    R1415       1975
25          20833  San Francisco Bay Area       I317    R1993       2013
26          82000  San Francisco Bay Area       I498    R1993       1984
27          10000  San Francisco Bay Area       I235    R1993       1997
28          17500  San Francisco Bay Area       I958    R1993       2005
29          17400                  Boston       I125    R1084       2002

In [5]:
company_region_table = company_region[['RegionID', 'CompanyID', 'StartYear']]
company_region_table.head()

  RegionID  CompanyID  StartYear
0    R1993          6       2006
1    R1046         21       2005
2    R1993         56       2004
3    R1084         91       2000
4    R1428        311       1999

In [6]:
company_region_table.to_csv('company_region_table.csv', index=False)