In [22]:
import os
import requests
import numpy as np
import pandas as pd
import seaborn as sns

In [23]:
df = pd.read_csv(r'/Users/kanimozhivelusamy/Downloads/company_table.csv')

df.head()

,CompanyID,CompanyName,Description,SizeOfCompany,TotalEmployee,Location,IndustryID,RegionID
0,6,Enphase Energy Inc,Energy,3150,3500,San Francisco Bay Area,I434,R1993
1,21,Etsy Inc,Retail,1820,2045,New York City,I395,R1046
2,56,Unity Software Inc,Other,6360,6625,San Francisco Bay Area,I078,R1993
3,91,Tripadvisor Inc,Travel,3000,3125,Boston,I522,R1084
4,311,SecureWorks Corp,Security,1700,2000,Atlanta,I890,R1428

In [24]:
industry_data = df[['IndustryID', 'Description', 'TotalEmployee']]

print(industry_data)

   IndustryID     Description  TotalEmployee
0        I434          Energy           3500
1        I395          Retail           2045
2        I078           Other           6625
3        I522          Travel           3125
4        I890        Security           2000
5        I711           Other          11580
6        I424  Transportation          20077
7        I674  Transportation            425
8        I804       Education           2000
9        I455        Consumer           1800
10       I835         Finance           1500
11       I398           Other           3125
12       I688  Transportation           1091
13       I686  Transportation           4123
14       I243           Media           1200
15       I633     Real Estate           2545
16       I987  Transportation           7222
17       I485          Retail         392000
18       I875        Consumer          73615
19       I711           Other          12500
20       I813        Hardware          48000
21       I844           Other           8667
22       I546          Retail          12500
23       I171         Finance          28571
24       I644        Consumer         200000
25       I398           Other         200000
26       I317            Food          20833
27       I498  Infrastructure          82000
28       I235           Media          10000
29       I958              HR          17500
30       I125          Retail          17400

In [25]:
industry_data_modified = industry_data.rename(columns={'IndustryID': 'IndustryID', 'Description': 'IndustryType', 'TotalEmployee': 'TotalWorkForce'})

print(industry_data_modified)

   IndustryID    IndustryType  TotalWorkForce
0        I434          Energy            3500
1        I395          Retail            2045
2        I078           Other            6625
3        I522          Travel            3125
4        I890        Security            2000
5        I711           Other           11580
6        I424  Transportation           20077
7        I674  Transportation             425
8        I804       Education            2000
9        I455        Consumer            1800
10       I835         Finance            1500
11       I398           Other            3125
12       I688  Transportation            1091
13       I686  Transportation            4123
14       I243           Media            1200
15       I633     Real Estate            2545
16       I987  Transportation            7222
17       I485          Retail          392000
18       I875        Consumer           73615
19       I711           Other           12500
20       I813        Hardware           48000
21       I844           Other            8667
22       I546          Retail           12500
23       I171         Finance           28571
24       I644        Consumer          200000
25       I398           Other          200000
26       I317            Food           20833
27       I498  Infrastructure           82000
28       I235           Media           10000
29       I958              HR           17500
30       I125          Retail           17400

In [26]:
industry_combined = industry_data_modified.groupby('IndustryType', as_index=False).agg({'IndustryID': 'first', 'TotalWorkForce': 'sum'})

print(industry_combined)

      IndustryType IndustryID  TotalWorkForce
0         Consumer       I455          275415
1        Education       I804            2000
2           Energy       I434            3500
3          Finance       I835           30071
4             Food       I317           20833
5               HR       I958           17500
6         Hardware       I813           48000
7   Infrastructure       I498           82000
8            Media       I243           11200
9            Other       I078          242497
10     Real Estate       I633            2545
11          Retail       I395          423945
12        Security       I890            2000
13  Transportation       I424           32938
14          Travel       I522            3125

In [27]:
row_num = len(industry_combined)

industry_code = ['IC' + str(np.random.randint(1, 1000)).zfill(5) for _ in range(row_num)]

industry_map = dict(zip(industry_combined['IndustryType'], industry_code))

industry_combined['IndustryCode'] = industry_combined['IndustryType'].map(industry_map)

print(industry_combined)

      IndustryType IndustryID  TotalWorkForce IndustryCode
0         Consumer       I455          275415      IC00812
1        Education       I804            2000      IC00044
2           Energy       I434            3500      IC00078
3          Finance       I835           30071      IC00990
4             Food       I317           20833      IC00343
5               HR       I958           17500      IC00009
6         Hardware       I813           48000      IC00302
7   Infrastructure       I498           82000      IC00176
8            Media       I243           11200      IC00757
9            Other       I078          242497      IC00153
10     Real Estate       I633            2545      IC00362
11          Retail       I395          423945      IC00719
12        Security       I890            2000      IC00174
13  Transportation       I424           32938      IC00826
14          Travel       I522            3125      IC00269

In [28]:
industry_combined.to_csv('industry_table.csv', index=False)